#virtual environment
.venv/
app-env/
#other jupyter notebook
00-simple-local-rag.ipynb

#credential files
creds.json

#pdf files
human-nutrition-text.pdf
README.pdf
embedding_model.pt
recipe_dataset.csv
saved_menus.json
saved_recipes.json
saved_plans.json